name: Build Android APK

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Installe Flutter 3.3.10 (compatible Dart < 3.7)
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.3.10'

      - run: flutter pub get
      - run: flutter build apk --debug

      - uses: actions/upload-artifact@v4
        with:
          name: TeVe-APK
          path: build/app/outputs/flutter-apk/app-debug.apk
